{% extends 'shop/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}soupladesign.gr | Reset password{% endblock metadescription %}
{% block title %}soupla-design.gr | Αλλάξτε τον κωδικό σας{% endblock title %}

{% block content %}

{% include 'shop/menu.html' %}

<div class="log-container">
  <div id="reset-password-form">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4 py-2 px-3">
          <i class="fas fa-key mr-4"></i>Password Reset
        </legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn my-btn btn-block">Reset Password</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}