<h2>Παραγελλία: <span style="color:#27908F">{{order.id}}</span></h2>
<h2>Ημερομηνία: <span style="color:#27908F">{{order.date_ordered|date:'d/m/Y'}}</span></h2>
<h2>Αριθμός τραπεζικής συναλλαγής: <span style="color:#27908F">{{order.bank_transaction_id}}</span></h2>
<br>
<h2><u>ΣΤΟΙΧΕΙΑ ΕΠΙΚΟΙΝΩΝΙΑΣ</u></h2>
<h3>Υπεύθυνος παραγγελίας: {{contactDetails.responsible_name}}</h3>
<h3>Email: {{contactDetails.email}}</h3>
{% if contactDetails.landline %}<h3>Σταθερό τηλέφωνο: {{contactDetails.landline}}</h3>{% endif %}
<h3>Κινητό: {{contactDetails.mobile}}</h3>
<br>
<h2><u>ΣΤΟΙΧΕΙΑ ΤΙΜΟΛΟΓΗΣΗΣ</u></h2>
<h3>Επωνυμία: {{invoiceDetails.brand}}</h3>
<h3>Δραστηριότητα: {{invoiceDetails.brand_description}}</h3>
<h3>ΑΦΜ: {{invoiceDetails.afm}}</h3>
<h3>ΔΟΥ: {{invoiceDetails.tax_office}}</h3>
<h3>Διεύθυνση: {{invoiceDetails.address1}}</h3>
{% if invoiceDetails.address2 %}<h3>Διεύθυνση2: {{invoiceDetails.address2}}</h3>{% endif %}
<h3>Ταχ. κώδικας: {{invoiceDetails.zipcode}}</h3>
<br>
<h2><u>ΣΤΟΙΧΕΙΑ ΑΠΟΣΤΟΛΗΣ</u></h2>
<h3>Προς: {{shippingDetails.shipping_name}}</h3>
<h3>Διεύθυνση 1: {{shippingDetails.address1}}</h3>
<h3>Διεύθυνση 2: {{shippingDetails.address2}}</h3>
<h3>Ταχ. κώδικας: {{shippingDetails.zipcode}}</h3>
<br>
{% if order.notes %}
<h2><u>ΣΗΜΕΙΩΣΕΙΣ</u></h2>
<h3>{{order.notes}}</h3>
{% endif %}
<br>
<h2><u>ΠΑΡΑΓΓΕΛΙΑ</u></h2>
<h3>Είδη: {{order.get_cart_items}}</h3>
<h3>Κόστος: {{order.get_cart_total|floatformat:2}}€</h3>
{% for item in items %}
<h3>Χαρτί: {{item.product.name}} --- Πακέτο: {{item.packet}} --- Τιμή: {{item.price|floatformat:2}} --- Ποσότητα:
  {{item.quantity}} --- Σύνολο: {{item.get_total|floatformat:2}}€</h3>
{% endfor %}