{% load static %}

<header>
  <h2 class="logo">Soupla Design</h2>
  <div class="toggle">
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'profile' %}">Profile ({{user.username}})</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      <!-- <li><a href="javascript:{document.getElementById('logout').submit()}">Logout</a></li>
      <form action="{% url 'logout' %}" method="POST" id="logout">
        {% csrf_token %}
        <input type="hidden">
      </form> -->
      <li><a id="shopping-cart" href="{% url 'cart' %}">
          <span class="shopping-cart-items ml-2">{% if cartItems %}{{cartItems}}{% else %}0{% endif %}</span>Cart
        </a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</header>