{% extends 'shop/main.html' %}
{% load static %}

{% block metadescription %}soupla-design.gr - Συμπληρώστε τα στοιχεία της φόρμας και στείλτε την παραγγελία
σας.{% endblock metadescription %}

{% block title %}soupla-design.gr | Στείλτε την παραγγελία σας{% endblock title %}

{% block content %}
<div class="loader-wrapper">
  <div class="loader">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="loader2">Αποστολή email...<br>Παρακαλώ περιμένετε.</div>
</div>

{% include 'shop/menu.html' %}

<section class="checkout-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cart-element p-3">
          <a data-toggle="tooltip" data-placement="top" title="Πίσω στην καρτέλα" href="{% url 'cart' %}"
             class="btn my-btn">&#x2190; Πίσω στην καρτέλα</a>
          <hr>
          <!-- <h3>Order Summary</h3> -->
          <div class="cart-row border-bottom">
            <div class="d-none d-md-block" style="flex:2"></div>
            <div style="flex:2"><strong>Προϊον</strong></div>
            <div style="flex:1"><strong>Πακέτο</strong></div>
            <div style="flex:1"><strong>Τιμή</strong></div>
            <div style="flex:1"><strong>Ποσότητα</strong></div>
          </div>
          <!-- <hr> -->
          {% for item in items %}
          <div class="cart-row">
            <div class="d-none d-md-block" style="flex:2"><img class="row-image" src="{{item.product.thumbnail.url}}"
                   alt="product image">
            </div>
            <div style="flex:2">
              <p>{{item.product.name}}</p>
            </div>
            <div style="flex:1">
              <p>{{item.packet}}</p>
            </div>
            <div style="flex:1">
              <p>{{item.price|floatformat:2}}</p>
            </div>
            <div style="flex:1">
              <p class="quantity">x{{item.quantity}}</p>
            </div>
          </div>
          {% endfor %}
          <div class="border-top">
            <h5 class="mt-3 display-4 mr-5" style="display: inline-block; font-size: 1.5rem;">Είδη: <span class="ml-2"
                    style="font-weight: 900;">{{order.get_cart_items}}</span></h5>
            <h5 class="mt-3 display-4" style="display: inline-block; font-size: 1.5rem;">Τιμή:
              <span class="ml-2 costs" style="font-weight: 900;">{{order.get_cart_total|floatformat:2}}</span> <span
                    style="font-weight: 900;">€</span>
            </h5>
            <small class="text-muted d-block"><span class="text-info">*</span> Παρακαλώ προχωρήστε στην πληρωμή του
              παραπάνω ποσού και συμπληρώστε τον αριθμό κατάθεσης στην παρακάτω φόρμα.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="cart-element" id="form-wrapper">
          <form id="checkout-form" action="{% url 'send_order' %}" method="POST" class="p-4 needs-validation" novalidate
                enctype="multipart/form-data">
            {% csrf_token %}
            <p><span class="text-danger">*</span> Απαραίτητα στοιχεία</p>
            <hr>
            <h4 class="mb-3 order-info-heading">ΣΤΟΙΧΕΙΑ ΕΠΙΚΟΙΝΩΝΙΑΣ</h4>

            <div class="form-group">
              <label for="responsible-name">Υπεύθυνος επικοινωνίας <span class="text-danger">*</span></label>
              <input {% if contactDetails %}value='{{contactDetails.responsible_name}}' {% endif %} class="form-control"
                     type="text" name="responsible-name" id="responsible-name" required>
            </div>

            <div class="form-row">

              <div class="form-group col-md-3">
                <label for="landline">Σταθερό τηλέφωνο</label>
                <input {% if contactDetails %}value='{{contactDetails.landline}}' {% endif %} type="text"
                       name="landline" id="landline" class="form-control">
              </div>

              <div class="form-group col-md-3">
                <label for="mobile">Κινητό τηλέφωνο <span class="text-danger">*</span></label>
                <input {% if contactDetails %}value='{{contactDetails.mobile}}' {% endif %} type="text" name="mobile"
                       id="mobile" class="form-control" required>
              </div>

              <div class="form-group col-md-6">
                <label for="email">Email <span class="text-danger">*</span></label>
                <input {% if contactDetails %}value='{{contactDetails.email}}' {% endif %} type="email" name="email"
                       id="email" class="form-control" required>
              </div>

            </div>
            <hr>
            <h4 class="mt-5 mb-3 order-info-heading">ΣΤΟΙΧΕΙΑ ΤΙΜΟΛΟΓΗΣΗΣ</h4>
            <div class="form-group">
              <label for="brand">Επωνυμία <span class="text-danger">*</span></label>
              <input {% if invoiceDetails %}value='{{invoiceDetails.brand}}' {% endif %} type="text"
                     class="form-control" id='brand' name="brand" required>
            </div>
            <div class="form-group">
              <label for="brand-activity">Δραστηριότητα <span class="text-danger">*</span></label>
              <input {% if invoiceDetails %}value='{{invoiceDetails.brand_description}}' {% endif %} type="text"
                     class="form-control" id='brand-activity' name="brand-activity" required>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="afm">ΑΦΜ <span class="text-danger">*</span></label>
                <input {% if invoiceDetails %}value='{{invoiceDetails.afm}}' {% endif %} type="text" name="afm" id="afm"
                       class="form-control" required>
              </div>
              <div class="form-group col-md-6">
                <label for="tax-office">ΔΟΥ <span class="text-danger">*</span></label>
                <input {% if invoiceDetails %}value='{{invoiceDetails.tax_office}}' {% endif %} type="text"
                       name="tax-office" id="tax-office" class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <label for="brand-address">Διεύθυνση 1 <span class="text-danger">*</span></label>
              <input {% if invoiceDetails %}value='{{invoiceDetails.address1}}' {% endif %} type="text"
                     name="brand-address" id="brand-address" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="brand-address2">Διεύθυνση 2</label>
              <input {% if invoiceDetails %}value='{{invoiceDetails.address2}}' {% endif %} type="text"
                     name="brand-address2" id="brand-address2" class="form-control">
            </div>
            <div class="form-group col-md-4 pl-0">
              <label for="po-box">Ταχ. κώδικας <span class="text-danger">*</span></label>
              <input {% if invoiceDetails %}value='{{invoiceDetails.zipcode}}' {% endif %} type="text"
                     name="invoice-po-box" id="invoice-po-box" class="form-control" value="" required>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name='check-shipping' id="defaultCheck1" checked>
              <label class="form-check-label" for="defaultCheck1">
                Τα στοιχεία αποστολής είναι ίδια με τα στοιχεία τιμολόγησης
              </label>
            </div>
            <input type="hidden" name="is_checked" id="is_checked">
            <hr>
            <div class="shipping-div">
              <h4 class="mt-5 mb-3 order-info-heading">ΣΤΟΙΧΕΙΑ ΑΠΟΣΤΟΛΗΣ</h4>
              <div class="form-group">
                <label for="shipping-name">Προς</label>
                <input type="text" class="form-control" id='shipping-name' name='shipping-name'>
              </div>
              <div class="form-group">
                <label for="shipping-address">Διεύθυνση 1</label>
                <input type="text" class="form-control" id='shipping-address' name='shipping-address'>
              </div>
              <div class="form-group">
                <label for="shipping-address2">Διεύθυνση 2</label>
                <input type="text" class="form-control" id='shipping-address2' name='shipping-address2'>
              </div>
              <div class="form-group col-md-4 pl-0">
                <label for="po-box">Ταχ. κώδικας</label>
                <input type="text" name="po-box" id="po-box" class="form-control">
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label for="order-notes">Σημειώσεις</label>
              <textarea class="form-control" name="order-notes" id="order-notes" rows="5"></textarea>
            </div>
            <h4 class="mt-5 mb-3 order-info-heading">ΤΡΑΠΕΖΙΚΗ ΣΥΝΑΛΛΑΓΗ</h4>
            <div class="form-group">
              <label for="bank-id">Αριθμός κατάθεσης <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id='bank-id' name="bank-id" value="" required>
            </div>
            <br>
            <br>
            <div class="form-group">
              <label for="file1">Αρχείο 1 <span class="text-danger">*</span></label>
              <input type="file" name='file1' id="file1" class="form-control" value="" aria-describedby="file1HelpBlock"
                     required>
              <small id="file1HelpBlock" class="form-text text-muted">
                .pdf, .tiff, .jpg, .jpeg, .zip, .rar - συνολικά 60ΜΒ και τα δύο αρχεία
              </small>
            </div>
            <div class="form-group">
              <label for="file2">Αρχείο 2 <span class="text-danger">*</span></label>
              <input type="file" name='file2' id="file2" class="form-control" value="" aria-describedby="file2HelpBlock"
                     required>
              <small id="file2HelpBlock" class="form-text text-muted">
                .pdf, .tiff, .jpg, .jpeg, .zip, .rar - συνολικά 60ΜΒ και τα δύο αρχεία
              </small>
            </div>
            <div class="form-check">
              <input class="form-check-input terms-check" type="checkbox" value="" id="flexCheckDefault" required>
              <button type="button" class="btn p-0 border-0 ml-3" data-toggle="modal" data-target="#exampleModal"
                      style="color:red;">
                Παρακαλώ αποδεχτείτε τους όρους χρήσης <span class="text-danger">*</span>
              </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Όροι χρήσης</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Καλώς ήρθατε στο www.soupla-design.gr, το ηλεκτρονικό κατάστημα της εταιρίας Ιδεότυπον.
                      Παρακαλούμε διαβάστε προσεκτικά τους παρακάτω όρους που αφορούν στα δικαιώματα και τις υποχρεώσεις
                      της εταιρείας προς όλους εσάς τους επισκέπτες της ιστοσελίδας:</p>
                    <h5>Στοιχεία επικοινωνίας:</h5>
                    <h6>Ιδεότυπον</h6>
                    <h6>Διεύθυνση: Ανθέων 14, 72 300 Σητεία Κρήτης</h6>
                    <h6>Τηλ.: 2843022207</h6>
                    <h6>email: info@soupla-design.gr</h6>
                    <br>
                    <h5>Περιεχόμενο:</h5>
                    <p>To Ιδεότυπον διατηρεί το δικαίωμα να αλλάξει το περιεχόμενο της ιστοσελίδας www.soupla-design.gr
                      ανά πάσα στιγμή χωρίς προειδοποίηση. Ό έλεγχος των τεχνικών πληροφοριών που παρέχονται και της
                      καταλληλότητας των ειδών που παραγγέλλονται ανήκει στην αποκλειστική ευθύνη του πελάτη που
                      χρησιμοποιεί την Ιστοσελίδα. Το Ιδεότυπον δεν φέρει καμία ευθύνη για τυχόν ασυμβατότητες των
                      προϊόντων με άλλα προϊόντα.</p>
                    <h5>Περιορισμός Ευθύνης:</h5>
                    <p>Το Ιδεότυπον ουδεμίαν ευθύνη φέρει για άμεση ή έμμεση, θετική ή αποθετική ζημία, που μπορεί να
                      προκύψει από την έλλειψη ικανότητας χρήσης της Ιστοσελίδας www.soupla-design.gr καθώς και από
                      τυχόν σφάλματα, διακοπές, ελαττώματα ή καθυστερήσεις στη λειτουργία της Ιστοσελίδας ή στη
                      διαβίβαση μέσω αυτής πληροφοριών στο διαδίκτυο.</p>
                    <h5>Τιμές στο www.soupla-design.gr:</h5>
                    <p>Δέσμευση τιμών γίνεται μόνο μέσω ηλεκτρονικής παραγγελίας και επιβεβαίωση της.</p>
                    <h5>Προσωπικά Δεδομένα:</h5>
                    <p>Τα προσωπικά δεδομένα των Πελατών χρησιμοποιούνται, βάσει του ν.2472/97, αποκλειστικά για την
                      εκτέλεση και απόδειξη των παραγγελιών τους, την παροχή εξατομικευμένων υπηρεσιών και την εξαγωγή
                      στατιστικών στοιχείων. Τα δεδομένα αυτά δεν διαβιβάζονται σε τρίτους. Ο Πελάτης δίνει με την
                      παρούσα τη συναίνεσή του για την αποθήκευση και επεξεργασία των προσωπικών του δεδομένων από το
                      Ιδεότυπον για τους σκοπούς εκτέλεσης και απόδειξης των παραγγελιών του, την παροχή
                      προσωποποιημένων υπηρεσιών και την εξαγωγή στατιστικών στοιχείων . Ο Πελάτης έχει δικαίωμα να έχει
                      πρόσβαση σε κάθε στοιχείο που μας έχει δώσει (δικαίωμα πρόσβασης αρ. 12 ν. 2472/97) και να
                      προβάλλει οποτεδήποτε αντιρρήσεις για την επεξεργασία των δεδομένων που τον αφορούν (δικαίωμα
                      αντίρρησης αρ. 13 ν. 2472/97).</p>
                    <h5>Πνευματικά Δικαιώματα:</h5>
                    <p>Το Ιδεότυπον αποτελεί μοναδικό και αποκλειστικό δικαιούχο όλων των πνευματικών δικαιωμάτων του
                      περιεχομένου και της διάρθρωσης της Ιστοσελίδας www.soupla-design.gr εκτός ρητών εξαιρέσεων.</p>
                    <h5>Ασφάλεια:</h5>
                    <p>Για την προστασία των στοιχείων που διακινούνται μέσω της Ιστοσελίδας www.soupla-design.gr
                      χρησιμοποιείται λογισμικό SSL (Secure Sockets Layer). To SSL αποτελεί ένα πρωτόκολλο επικοινωνίας
                      το οποίο κρυπτογραφεί την επικοινωνία μεταξύ του τερματικού σας και του server του ηλεκτρονικού
                      καταστήματος. Η αποκρυπτογράφηση των στοιχείων σας είναι εξαιρετικά ισχυρή και θεωρείται πρακτικά
                      απαραβίαστη.</p>
                    <h5>Τοποθέτηση παραγγελίας:</h5>
                    <p>Επιλέγετε από τον κατάλογο του www.soupla-design.gr ή από την αναζήτηση προϊόντων συγκεκριμένους
                      κωδικούς προϊόντων και τους τοποθετείτε στο καλάθι αγορών. Επιλέγετε από το καλάθι αγορών τα
                      προϊόντα που επιθυμείτε τελικά να παραγγείλετε. Συμπληρώνετε τα στοιχεία της παραγγελίας, όπως τη
                      διεύθυνση αποστολής και τα σχόλια της παραγγελίας. Επιθεωρείτε τη συνολική εικόνα της παραγγελίας,
                      αποδέχεστε τους γενικούς όρους συναλλαγών και δίνετε την τελική εντολή παραγγελίας.</p>
                    <h5>Ηλεκτρονική Αρχειοθέτηση Παραγγελιών:</h5>
                    <p>Οι παραγγελίες σας αρχειοθετούνται ηλεκτρονικά και μπορείτε, εφόσον το επιθυμείτε, να λάβετε
                      γνώση του περιεχομένου της παραγγελίας σας.
                      Η χρήση της Ιστοσελίδας www.soupla-design.gr γίνεται με αποκλειστική ευθύνη του επισκέπτη-πελάτη.
                      Δεν ευθυνόμαστε για την κακόβουλη επέμβαση τρίτων.
                      Οι επισκέπτες της Ιστοσελίδας www.soupla-design.gr δεσμεύονται ότι δεν θα βλάψουν τρίτους με
                      κακόβουλη χρήση της Ιστοσελίδας και πως δεν θα παραβιάσουν τα προσωπικά τους δεδομένα.
                      Η επίσκεψη - τοποθέτηση παραγγελίας στο www.soupla-design.gr προϋποθέτει την ανεπιφύλακτη αποδοχή
                      των παραπάνω όρων.</p>
                    <h5>Τρόπος πληρωμής:</h5>
                    <p>Κατάθεση σε λογαριασμό τραπέζης</p>
                    <h5>Όροι Χρήσης</h5>
                    <p>Ο επισκέπτης- χρήστης των υπηρεσιών του παρόντος ιστοτόπου soupla-design.gr (εφεξής ο
                      «ιστότοπος») κατανοεί και αποδέχεται ότι το σύνολο των σελίδων-υπηρεσιών παρέχεται «όπως είναι»
                      και ο ιστότοπος αποποιείται οποιασδήποτε ευθύνης σχετικής με την περιορισμένη χρονική διάρκεια, τη
                      διαγραφή, την κακή απόδοση ή την αδυναμία ηλεκτρονικής αποθήκευσης οποιωνδήποτε δεδομένων (data)
                      των χρηστών ή/και οποιουδήποτε περιεχομένου προσωπικών σελίδων / υπηρεσιών. Ο επισκέπτης/χρήστης
                      είναι αποκλειστικά υπεύθυνος για τον προσωπικό εξοπλισμό του με τα απαραίτητα τεχνολογικά μέσα που
                      του επιτρέπουν την πρόσβαση στις υπηρεσίες του ιστοτόπου. Ο ιστότοπος δεσμεύεται να διασφαλίσει
                      την ιδιωτικότητα των επισκεπτών του. Σε αυτούς τους όρους χρήσης - Πολιτική Απορρήτου εξηγείται
                      πως θα διαχειρίζονται τα προσωπικά δεδομένα των επισκεπτών/χρηστών, σύμφωνα με την ελληνικό νόμο
                      που αφορά στην Προστασία των Προσωπικών Δεδομένων (Ν. 2472/1997 και τροποποιήσεις αυτού). Ζητείται
                      από τον κάθε επισκέπτη/χρήστη να αποδεχθεί τη χρήση Cookies σύμφωνα με τους όρους της παρούσας
                      Πολιτικής, την πρώτη φορά που θα επισκεφθεί τον ιστότοπο. Χρησιμοποιώντας τον ιστότοπο και
                      αποδεχόμενος αυτή την Πολιτική, ο επισκέπτης/χρήστης αποδέχεται τη χρήση από μέρους του ιστοτόπου
                      των Cookies σύμφωνα με τους όρους της παρούσας Πολιτικής.</p>
                    <h5>COOKIES</h5>
                    <p>Ο ιστότοπος μπορεί να χρησιμοποιεί cookies για την αναγνώριση του επισκέπτη / χρήστη ορισμένων
                      υπηρεσιών και σελίδων του. Ο ιστότοπος και οι συνδεόμενες εφαρμογές χρησιμοποιούν cookies. Το
                      cookie είναι ένα αρχείο το οποίο περιέχει έναν κωδικό αναγνώρισης (μια ακολουθία αριθμών και
                      γραμμάτων) και το οποίο έχει σταλεί από ένα διακομιστή σε έναν πλοηγό όπου και αποθηκεύεται. Κάθε
                      φορά που ο πλοηγός ζητάει μια σελίδα από τον διακομιστή, αποστέλλεται πίσω σε αυτόν και ο κωδικός
                      αναγνώρισης. Τα cookies μπορεί να είναι είτε μόνιμα είτε να αφορούν σε μια μόνο σύνδεση. Τα μόνιμα
                      cookies αποθηκεύονται από τον πλοηγό και παραμένουν ενεργά είτε μέχρι την ημερομηνία λήξεώς τους,
                      είτε μέχρι να τα διαγράψει ο χρήστης. Αυτά τα οποία αφορούν σε μια μόνο συνεδρία, λήγουν με τη
                      λήξη της σύνδεσης, μόλις απενεργοποιηθεί (κλείσει) ο πλοηγός. Τα cookies δεν αποθηκεύουν στοιχεία
                      τα οποία μπορούν να προσωποποιήσουν τον χρήστη, όμως προσωπικά στοιχεία τα οποία αποθηκεύονται από
                      τον ιστότοπο και αφορούν τους χρήστες /επισκέπτες είναι δυνατόν να συνδεθούν με τις πληροφορίες
                      που αποθηκεύονται και μπορούν να ληφθούν από τα cookies. Στον ιστότοπο και στις συνδεόμενες
                      εφαρμογές χρησιμοποιούνται μόνο «μόνιμα» cookies, μόνο cookies που αφορούν σε μία σύνδεση/συνεδρία
                      ή και «μόνιμα» cookies και cookies που χρησιμοποιούνται σε μια σύνδεση/συνεδρία. Τα ονόματα των
                      cookies τα οποία χρησιμοποιούνται στον ιστότοπο ή σε συνδεόμενες εφαρμογές, και οι λόγοι για τους
                      οποίους χρησιμοποιούνται, αναφέρονται παρακάτω: => χρησιμοποιούνται (όνομα cookie) στον ιστότοπο ή
                      σε συνδεόμενες εφαρμογές (ώστε να αναγνωρίζει έναν υπολογιστή όταν ένας χρήστης επισκέπτεται τον
                      ιστότοπο ή συνδεόμενες εφαρμογές / για να παρακολουθεί την πλοήγηση των χρηστών στον ιστότοπο ή σε
                      συνδεόμενες εφαρμογές / για να επιτραπεί η χρήση ενός «καλαθιού αγορών» στον ιστότοπο ή σε
                      συνδεόμενες εφαρμογές / για τη βελτίωση της χρηστικότητας του ιστοτόπου ή των συνδεόμενων
                      εφαρμογών / για την ανάλυση της χρήσης του ιστοτόπου ή των συνδεόμενων εφαρμογών / για τη
                      διαχείριση του ιστοτόπου ή των συνδεόμενων εφαρμογών / για την πρόληψη
                      απάτης και τη βελτίωση της ασφάλειας του ιστοτόπου και των συνδεόμενων εφαρμογών / για την
                      προσωποποίηση του ιστοτόπου ή των συνδεόμενων εφαρμογών / για τη στόχευση συγκεκριμένων
                      διαφημιστικών μηνυμάτων προς συγκεκριμένους χρήστες που μπορεί να ενδιαφέρονται για αυτά. Οι
                      περισσότεροι πλοηγοί των χρηστών τους επιτρέπουν να αρνηθούν τη χρήση cookies, για παράδειγμα: (α)
                      Στον Internet Explorer (έκδοση 11) μπορούν να αναστείλουν τη χρήση cookies χρησιμοποιώντας τις
                      ρυθμίσεις παράκαμψης των cookies επιλέγοντας «Εργαλεία», «Επιλογές Διαδικτύου», «Απόρρητο» και
                      μετά «Προχωρημένο». (β) Στο Firefox (έκδοση 39) μπορούν να αναστείλουν τη χρήση όλων των cookies
                      επιλέγοντας «Εργαλεία», «Επιλογές», «Απόρρητο», επιλέγοντας στη συνέχεια «Χρήση Προσωπικών
                      Παραμέτρων για Ιστορικό» από το κυλιόμενο μενού και τέλος ξεμαρκάροντας το «Αποδοχή cookies από
                      ιστοτόπους». (γ) Στο Chrome (έκδοση 44) μπορούν να αναστείλουν τη χρήση cookies πηγαίνοντας στο
                      μενού «Ελέγχου και Προσαρμογής» και επιλέγοντας «Ρυθμίσεις», «Προβολή Προχωρημένων Ρυθμίσεων» και
                      «Ρυθμίσεις Περιεχομένου», και επιλέγοντας «Παρεμπόδιση ιστοτόπων από τον καθορισμό στοιχείων» υπό
                      τον τίτλο «Cookies». (δ) Στο Safari (έκδοση 5.1.7) μπορούν να αναστείλουν τη χρήση cookies
                      επιλέγοντας «Επιλέγοντας Safari», «Προτιμήσεις», επιλέγοντας στη συνέχεια «Απόρρητο» και μετά
                      προχωρώντας σε οποιαδήποτε απ τις παρακάτω ενέργειες. Για Μόνιμη Αναστολή Χρήσης Cookies: Το
                      Safari δεν επιτρέπει σε κανέναν ιστότοπο, τρίτα μέρη ή διαφημιζόμενους να αποθηκεύουν cookies και
                      άλλα δεδομένα στον υπολογιστή Mac. Ορισμένοι ιστότοποι πιθανόν να μην λειτουργούν σωστά εξ’ αιτίας
                      αυτού. Χρήση Cookies Μόνο από τον Υφιστάμενο Ιστότοπο: Το Safari αποδέχεται cookies και στοιχεία
                      ιστοτόπου μόνο από τον ιστότοπο στον οποίο βρίσκεται ο χρήστης τη στιγμή εκείνη συνδεδεμένος.
                      Συχνά, ορισμένοι ιστότοποι έχουν ενσωματωμένο περιεχόμενο από άλλες πηγές. Το Safari δεν επιτρέπει
                      σε τρίτα μέρη να αποθηκεύσουν ή να έχουν πρόσβαση σε cookies ή άλλα στοιχεία. Επιτρέπεται Χρήση
                      από όλους τους Ιστότοπους που Επισκέπτομαι: Το Safari αποδέχεται cookies και στοιχεία ιστοτόπων
                      μόνο από τους ιστότοπους που επισκέπτεται ο χρήστης. Το Safari χρησιμοποιεί τα υφιστάμενα cookies
                      σας για να καθορίσει εάν έχει επισκεφθεί ο χρήστης κάποιον ιστότοπο στο παρελθόν. Επιλέγοντας αυτή
                      τη ρύθμιση παρεμποδίζεται η αποθήκευση cookies και άλλου περιεχομένου στον υπολογιστή Mac από
                      ιστότοπους των οποίων ενσωματωμένο περιεχόμενο βρίσκεται στους ιστότοπους τους οποίους
                      επισκέπτεται ο χρήστης. Η αναστολή χρήσης όλων των cookies θα έχει αρνητικό αντίκτυπο στη χρήση
                      πολλών ιστότοπων. Εάν ανασταλεί η χρήση cookies, δε θα μπορεί ο χρήστης να κάνει χρήση όλων των
                      δυνατοτήτων του ιστότοπου ή συνδεόμενων εφαρμογών. Ο χρήστης μπορεί να διαγράψει cookies τα οποία
                      έχουν ήδη αποθηκευτεί στον υπολογιστή του. Παραδείγματος χάριν: (α) Στον Internet Explorer (έκδοση
                      11) μπορεί χειροκίνητα να διαγράψει τα αρχεία των cookies. Μπορεί να βρει τη διαδικασία για αυτό
                      στο http://windows.microsoft.com/en-gb/internet-explorer/delete-manage-cookies#ie=ie-11 (β) Στο
                      Firefox (έκδοση 39) πρέπει να διαγράψει cookies επιλέγοντας «Εργαλεία», «Επιλογές» και «Απόρρητο»
                      και στη συνέχεια να επιλέξει «Χρήση Προσωπικών Παραμέτρων για Ιστορικό» από το κυλιόμενο μενού,
                      επιλέγοντας «Προβολή cookies» και μετά «Αφαίρεση όλων των cookies», και (γ) Στο Chrome (έκδοση 44)
                      μπορεί να διαγράψει όλα τα cookies μπαίνοντας στο μενού «Ελέγχου και Προσαρμογής» και επιλέγοντας
                      «Ρυθμίσεις», «Προβολή Προχωρημένων Ρυθμίσεων» και «Καθαρισμός Στοιχείων Πλοήγησης». Στη συνέχεια
                      θα επιλέξει «Cookies και στοιχεία άλλων ιστοτόπων και συνδεόμενων δεδομένων» και «Καθαρισμός
                      Στοιχείων Πλοήγησης». (δ) Στο Safari (έκδοση 5.1.7) μπορεί να διαγράψει όλα τα cookies μπαίνοντας
                      στο παράθυρο προτιμήσεων του Safari και επιλέγοντας «Απόρρητο». Ο χρήστης μπορεί να ρυθμίσει τις
                      επιλογές του για την αποδοχή των cookies δίπλα στο «Εμποδίζοντας τα cookies». Επιλέγει «Ομάδες και
                      Διαφημιζόμενοι» - «Πάντα» ή «Ποτέ». Εάν υπάρχουν στοιχεία ιστοτόπων ή cookies αποθηκευμένα,
                      επιλέγει «Λεπτομέρειες». Εάν επιθυμεί να διαγράψει τα δεδομένα από όλους τους ιστότοπους, απλώς
                      επιλέγει «Διαγραφή Όλων». Πατάει «Τέλος» για να επιστρέψει στο παράθυρο επιλογής.</p>
                    <h5>ΠΕΡΙΟΡΙΣΜΟΣ ΕΥΘΥΝΗΣ</h5>
                    <p>Δεδομένης της φύσης και του όγκου του διαδικτύου, υπό οποιεσδήποτε συνθήκες, συμπεριλαμβανομένης
                      και της περίπτωσης αμέλειας, ο ιστότοπος δεν ευθύνεται για οποιασδήποτε
                      μορφής ζημία υποστεί ο επισκέπτης/χρήστης των σελίδων, υπηρεσιών, επιλογών και περιεχομένων του
                      στις οποίες προβαίνει με δική του πρωτοβουλία. Τα περιεχόμενά του παρέχονται «όπως ακριβώς είναι»
                      χωρίς καμία εγγύηση εκπεφρασμένη ή και συνεπαγόμενη με οποιοδήποτε τρόπο. Στο μέγιστο βαθμό και
                      σύμφωνα με το νόμο, ο ιστότοπος αρνείται όλες τις εγγυήσεις εκπεφρασμένες ή και συνεπαγόμενες,
                      συμπεριλαμβανομένων, όχι όμως περιοριζόμενων σε αυτό, αυτών, οι οποίες συνεπάγονται την
                      εμπορευσιμότητα και την καταλληλότητα για ένα συγκεκριμένο σκοπό. Ο ιστότοπος δεν εγγυάται ότι οι
                      σελίδες, οι υπηρεσίες, οι επιλογές και τα περιεχόμενα θα παρέχονται χωρίς διακοπή, χωρίς σφάλματα
                      και ότι τα λάθη θα διορθώνονται. Επίσης, δεν εγγυάται ότι το ίδιο ή οποιοδήποτε άλλο συγγενικό
                      site ή οι εξυπηρετητές (servers) μέσω των οποίων αυτά τίθενται στη διάθεσή των χρηστών/μελών, δεν
                      περιέχουν "ιούς" ή άλλα επιζήμια συστατικά. Ο ιστότοπος δεν εγγυάται σε καμία περίπτωση την
                      ορθότητα, την πληρότητα ή και διαθεσιμότητα των περιεχομένων, σελίδων, υπηρεσιών, επιλογών ή τα
                      αποτελέσματά τους. Το κόστος των ενδεχόμενων διορθώσεων ή εξυπηρετήσεων, το αναλαμβάνει ο
                      επισκέπτης/χρήστης και σε καμία περίπτωση ο ιστότοπος αυτός και η εταιρεία που τον διαχειρίζεται ή
                      τον εκμεταλλεύεται εμπορικά.</p>
                    <h5>ΔΙΟΡΘΩΣΗ Ή/ΚΑΙ ΔΙΑΓΡΑΦΗ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ</h5>
                    <p>Ο ιστότοπος δίνει το δικαίωμα στους χρήστες να διαγράψουν τα προσωπικά τους δεδομένα, να
                      διορθώσουν ή/και ενημερώσουν τα προσωπικά τους δεδομένα ή/και να αδρανοποιήσουν την εγγραφή τους,
                      ανά πάσα χρονική στιγμή, στέλνοντας σχετικό ηλεκτρονικό μήνυμα στον ιστότοπο.</p>
                    <h5>ΔΙΟΧΕΥΤΕΥΣΗ ΚΑΙ ΑΠΟΚΑΛΥΨΗ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ</h5>
                    <p>Ο ιστότοπος δεσμεύεται να μην προβεί σε πώληση, ενοικίαση ή καθοιονδήποτε τρόπο δημοσίευση ή/και
                      κοινοποίηση των προσωπικών δεδομένων των επισκεπτών / χρηστών / μελών του ιστοτόπου σε κανένα
                      τρίτο φορέα. Ο ιστότοπος μπορεί να διοχετεύσει προσωπικά δεδομένα των επισκεπτών / χρηστών / μελών
                      του σε τρίτα νομικά ή/και φυσικά πρόσωπα μόνο εάν : • Επιτάσσεται λόγω συμμόρφωσης με τις σχετικές
                      διατάξεις του νόμου και προς τις αρμόδιες και μόνο αρχές. Ο ιστότοπος δύναται να αποκαλύψει τις
                      προσωπικές πληροφορίες των χρηστών σε οποιονδήποτε υπάλληλο, διοικητικό στέλεχος, στο βαθμό που
                      είναι ευλόγως απαραίτητο για τους σκοπούς που ορίζονται στην παρούσα Πολιτική. Ο ιστότοπος δύναται
                      να αποκαλύψει τις προσωπικές πληροφορίες των χρηστών σε οποιοδήποτε μέλος του Ομίλου των εταιρειών
                      που ανήκει (δηλαδή των θυγατρικών, της μητρικής εταιρείας και όλων των θυγατρικών της) στο βαθμό
                      που είναι ευλόγως απαραίτητο για τους σκοπούς που ορίζονται στην παρούσα Πολιτική. Ο ιστότοπος
                      δύναται να αποκαλύψει τις προσωπικές πληροφορίες των χρηστών : (α) στο βαθμό που είναι
                      υποχρεωμένος από το νόμο (β) σε σύνδεση με υφιστάμενη ή ενδεχόμενη νομική διαδικασία (γ) για να
                      εδραιώσει, ασκήσει ή προστατεύσει τα νομικά του δικαιώματα (συμπεριλαμβανομένης της παροχής
                      πληροφοριών σε τρίτους για την αποφυγή απάτης και τον περιορισμό πιστωτικού κινδύνου) (δ) στον
                      αγοραστή (ή ενδεχόμενο αγοραστή) οποιασδήποτε δραστηριότητας ή περιουσιακού στοιχείου σκοπεύσει (ή
                      εξετάσει) να πουλήσει (ε) σε οποιοδήποτε πρόσωπο που εύλογα πιστεύει ότι μπορεί να προσφύγει στο
                      δικαστήριο ή σε άλλη αρμόδια αρχή για την αποκάλυψη των προσωπικών πληροφοριών, όταν κατά την
                      εύλογη κρίση των αρμοδίων του ιστοτόπου αυτό το δικαστήριο ή αρμόδια αρχή θα ήταν εύλογα πιθανό να
                      διατάξει την αποκάλυψη αυτών των προσωπικών πληροφοριών. Εκτός από τις περιπτώσεις που
                      προβλέπονται στην παρούσα Πολιτική, ο ιστότοπος δεν θα διαθέσει τα προσωπικά στοιχεία των χρηστών
                      σε τρίτα μέρη.</p>
                    <h5>ΔΙΑΤΗΡΗΣΗ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ</h5>
                    <p>Η παρούσα Ενότητα καθορίζει τις πολιτικές και τη διαδικασία διατήρησης προσωπικών δεδομένων, που
                      έχουν σχεδιαστεί με σκοπό να εξασφαλίσουν πως συμμορφώνεται ο ιστότοπος με τις νομικές του
                      υποχρεώσεις αναφορικά με τη διατήρηση και τη διαγραφή προσωπικών πληροφοριών. Οι προσωπικές
                      πληροφορίες που επεξεργάζεται ο ιστότοπος για οποιονδήποτε λόγο ή για οποιουσδήποτε λόγους δε θα
                      διατηρηθούν για περισσότερο χρόνο από αυτόν ο οποίος απαιτείται για αυτόν τον σκοπό ή αυτούς τους
                      σκοπούς. Με την επιφύλαξη όλων όσα αναφέρονται στους παρόντες όρους, συνήθως ο ιστότοπος θα
                      διαγράφει τα προσωπικά στοιχεία που εμπίπτουν στις παρακάτω κατηγορίες κατά την ημερομηνία/χρόνο
                      που ορίζεται παρακάτω: (α) [Προσωπικά δεδομένα τύπου] θα διαγράφονται (ημερομηνία/ώρα και) (β)
                      [Επανάληψη όταν είναι απαραίτητο.] Κατά παρέκκλιση από τις διατάξεις της παρούσας Ενότητας, ο
                      ιστότοπος θα διατηρεί έγγραφα (συμπεριλαμβανομένων ηλεκτρονικών εγγράφων) που περιλαμβάνουν
                      προσωπικά δεδομένα: (α) Στο βαθμό που αυτό απαιτείται από το νόμο (β) Εάν κρίνουν οι αρμόδιοι του
                      ιστότοπου πως τα έγγραφα αυτά είναι σχετικά με οποιαδήποτε υφιστάμενη ή ενδεχόμενες
                      νομικές/δικαστικές διαδικασίες (γ) Για να εδραιώσει, ασκήσει ή προστατεύσει τα νόμιμά του
                      δικαιώματα (συμπεριλαμβανομένων πληροφοριών προς τρίτους με σκοπό την πρόληψη απάτης και τον
                      περιορισμό πιστωτικού κινδύνου)</p>
                    <h5>ΠΡΟΣΤΑΣΙΑ ΠΡΟΣΩΠΙΚΩΝ ΠΛΗΡΟΦΟΡΙΩΝ</h5>
                    <p>Ο ιστότοπος θα λάβει κάθε οργανωτική και τεχνολογική προφύλαξη, για να εμποδίσει την απώλεια, την
                      αθέμιτη χρήση ή την αλλοίωση των προσωπικών πληροφοριών των χρηστών. Ο ιστότοπος θα αποθηκεύει το
                      σύνολο των προσωπικών στοιχείων που παρέχονται από τους χρήστες σε ασφαλείς διακομιστές
                      (προστατευόμενους από κωδικούς και τείχη προστασίας [firewall]). Όλες οι ηλεκτρονικές οικονομικές
                      συναλλαγές που θα εκτελούνται μέσω του ιστοτόπου ή συνδεόμενων εφαρμογών θα προστατεύονται από
                      τεχνολογία κρυπτογράφησης. Ο χρήστης αναγνωρίζει ότι η αποστολή πληροφοριών μέσω του διαδικτύου
                      παρουσιάζει έμφυτα προβλήματα ασφάλειας και κατά συνέπεια δεν δύναται ο ιστότοπος να εγγυηθεί την
                      ασφάλεια των δεδομένων που διακινούνται μέσω αυτού. Ο χρήστης είναι υπεύθυνος να τηρεί απόρρητο
                      τον κωδικό πρόσβασης που χρησιμοποιεί για την είσοδό του στον ιστότοπο ή σε συνδεόμενες εφαρμογές.
                      Δεν θα σας ζητείται από τον ιστότοπο να γνωστοποιηθεί ο κωδικός αυτός (εκτός από την περίπτωση που
                      θα συνδεθεί ο χρήστης στον ιστότοπο ή σε συνδεόμενες εφαρμογές).</p>
                    <h5>ΕΦΑΡΜΟΣΤΕΟ ΔΙΚΑΙΟ ΚΑΙ ΛΟΙΠΟΙ ΟΡΟΙ</h5>
                    <p>Οι ανωτέρω όροι και προϋποθέσεις χρήσης του ιστοτόπου, καθώς και οποιαδήποτε τροποποίηση τους,
                      διέπονται και συμπληρώνονται από το ελληνικό δίκαιο, το δίκαιο της Ευρωπαϊκής Ένωσης και τις
                      σχετικές διεθνείς συνθήκες, αρμόδια δε Δικαστήρια για την επίλυση οποιασδήποτε διαφοράς, ορίζονται
                      τα Δικαστήρια των Αθηνών. Οποιαδήποτε διάταξη των ανωτέρω όρων καταστεί αντίθετη προς το νόμο,
                      παύει αυτοδικαίως να ισχύει, χωρίς σε καμία περίπτωση να θίγεται η ισχύς των λοιπών όρων. Το παρόν
                      αποτελεί τη συνολική συμφωνία μεταξύ του site και του επισκέπτη/χρήστη των σελίδων και υπηρεσιών
                      του και δε δεσμεύει παρά μόνο αυτούς. Καμία τροποποίηση των όρων αυτών θα λαμβάνεται υπόψη και θα
                      αποτελεί τμήμα της συμφωνίας αυτής, εάν δεν έχει διατυπωθεί εγγράφως και δεν έχει ενσωματωθεί σε
                      αυτή. Οι παρόντες όροι χρήσης κατισχύουν οποιωνδήποτε άλλων όρων και τυγχάνουν εφαρμογής για όλες
                      ανεξαιρέτως τις υπηρεσίες και εφαρμογές του ιστότοπου, χωρίς την ανάγκη ύπαρξης άλλων ειδικότερων
                      όρων. Ο χρήστης που χρησιμοποιεί τον παρόντα ιστότοπο και τις υπηρεσίες αυτού τεκμαίρεται πως
                      αποδέχεται ανεπιφύλακτα τους όρους αυτούς, εάν δεν υποβάλει αίτηση αντίρρησης. Ο ιστότοπος δύναται
                      να επικαιροποιεί την παρούσα
                      Πολιτική κατά διαστήματα, δημοσιεύοντας τη νέα έκδοση στον ιστότοπό ή σε συνδεόμενες εφαρμογές. Ο
                      χρήστης θα πρέπει να ελέγχει τακτικά την παρούσα σελίδα για να βεβαιώνεται πως είναι σύμφωνος με
                      οποιεσδήποτε αλλαγές στους όρους της παρούσας Πολιτικής. Ο ιστότοπος δύναται να ενημερώσει τους
                      χρήστες για αλλαγές στην Πολιτική αυτή (είτε μέσω μηνύματος ηλεκτρονικού ταχυδρομείου είτε μέσω
                      της υπηρεσίας προσωπικών μηνυμάτων του ιστοτόπου ή συνδεόμενων εφαρμογών). Η διαχείριση και
                      προστασία των προσωπικών δεδομένων του επισκέπτη/ χρήστη των υπηρεσιών του site υπόκειται στους
                      όρους του παρόντος τμήματος, καθώς και στις σχετικές διατάξεις της ελληνικής νομοθεσίας (Ν.
                      2472/1997 για την προστασία του ατόμου και την προστασία δεδομένων προσωπικού χαρακτήρα, όπως έχει
                      συμπληρωθεί με τις αποφάσεις του Προέδρου της Επιτροπής Προστασίας Προσωπικών Δεδομένων, τα Π. Δ.
                      207/1998 και 79/2000 και το άρθρο 8 του Ν. 2819/2000 όπως και το Νόμο 2774/1999 και του ευρωπαϊκού
                      δικαίου (οδηγίες 95/46/ΕΚ και 97/66/ΕΚ). Οι παρόντες όροι διατυπώνονται λαμβανομένων υπόψη τόσο
                      της ραγδαίας ανάπτυξης της τεχνολογίας και ειδικότερα του διαδικτύου όσο και του υπάρχοντος - αν
                      και μη πλήρως ανεπτυγμένου - πλέγματος νομικών ρυθμίσεων σχετικά με τα ζητήματα αυτά. Σε αυτό το
                      πλαίσιο, οποιαδήποτε ενδεχόμενη σχετική ρύθμιση θα αποτελέσει αντικείμενο του παρόντος τμήματος.
                      Σε κάθε περίπτωση το site διατηρεί το δικαίωμα αλλαγής των όρων προστασίας των προσωπικών
                      δεδομένων κατόπιν ενημέρωσης των επισκεπτών / χρηστών και μέσα στο υπάρχον ή και ενδεχόμενο νομικό
                      πλαίσιο. Εάν κάποιος επισκέπτης/χρήστης δε συμφωνεί με τους όρους προστασίας των προσωπικών
                      δεδομένων που προβλέπονται στο παρόν οφείλει να μη χρησιμοποιεί τις υπηρεσίες του site και δη να
                      αρνηθεί να εγγραφεί ως μέλος. Δεδομένης της φύσης και του όγκου του διαδικτύου, υπό οποιεσδήποτε
                      συνθήκες, συμπεριλαμβανομένης και της περίπτωσης αμέλειας, το site δεν ευθύνεται για οποιασδήποτε
                      μορφής ζημία υποστεί ο επισκέπτης / χρήστης των σελίδων, υπηρεσιών, επιλογών και περιεχομένων του
                      site στις οποίες προβαίνει με δική του πρωτοβουλία και με τη γνώση των όρων του παρόντος.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn my-btn btn-block mt-5" type="submit">Αποστολή φόρμας</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  //JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  const termsCheck = document.querySelector('.terms-check');
  let isTermsChecked = false;
  termsCheck.addEventListener('click', (e) => {
    if (e.target.checked) {
      e.target.value = 'checked'
      isTermsChecked = true;
    }
    else {
      e.target.value = 'unchecked'
      isTermsChecked = false;
    }
  })

  const loader = document.querySelector('.loader-wrapper');
  const form = document.getElementById('checkout-form');

  const responsibleName = document.getElementById('responsible-name');
  const mobile = document.getElementById('mobile');
  const email = document.getElementById('email');

  const brand = document.getElementById('brand');
  const brandActivity = document.getElementById('brand-activity');
  const afm = document.getElementById('afm');
  const taxOffice = document.getElementById('tax-office');
  const brandAddress = document.getElementById('brand-address');
  const invoiceZipcode = document.getElementById('invoice-po-box');

  const shippingName = document.getElementById('shipping-name');
  const shippingAddress = document.getElementById('shipping-address');
  const poBox = document.getElementById('po-box');

  const bankId = document.getElementById('bank-id');
  const file1 = document.getElementById('file1');
  const file2 = document.getElementById('file2');

  // ---------------------------------------------------

  const shippingDiv = document.querySelector('.shipping-div');
  shippingDiv.style.display = 'none';
  const checkbox = document.getElementById('defaultCheck1');
  const is_checked = document.getElementById('is_checked');
  checkbox.value = 'checked';
  is_checked.value = 'checked';
  checkbox.addEventListener('click', (e) => {
    if (e.target.checked === true) {
      shippingDiv.style.display = 'none';
      e.target.value = 'checked';
      is_checked.value = 'checked';
    } else if (e.target.checked === false) {
      shippingDiv.style.display = 'block';
      e.target.value = 'unchecked';
      is_checked.value = 'unchecked';
    }
    console.log(e.target);
    console.log(e.target.checked, e.target.value);
  })

  form.addEventListener('submit', myFunction);
  function myFunction() {
    if (responsibleName.value !== '' && mobile.value !== '' && email.value !== '' && brand.value !== '' && brandActivity.value !== '' && afm.value !== '' && taxOffice.value !== '' && brandAddress.value !== '' && invoiceZipcode.value !== '' && bankId.value !== '' && file1.value !== '' && file2.value !== '' && isTermsChecked) {
      loader.style.display = 'flex';
    }
  }
</script>
{% endblock content %}